<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<div id="lngModal" class="lng-modal">

    <div class="lng-modal-content">
        <div class="lng-modal-header">
            <span class="close">&times;</span>
            <h2>Змінити мову</h2>
        </div>
        <div class="lng-modal-body">
            <div class="model-lng-btn-group">
                <button class="model-lng-btn"><h1 class="model-lng-btn-txt">English</h1></button>
            </div>
        </div>
    </div>

</div>

<header class="header-reg-aut">
    <div class="top-panel-div">
        <ul class="top-panel-ul">
            <li class="top-panel-li">
                <!-- <button class="top-panel-btn"><h1 class="top-panel-h1">Головна</h1></button> -->
            </li>
        </ul>
    </div>
    <div class="header-btn-div-main-right">
        <button class="user-menu-btn">Settings</button>
        <button class="lng-btn" id="lngBtn"><i class="fa fa-language" aria-hidden="true"></i></button>
    </div>
</header>

<script src="js/script.js"></script>